.pagination {
  @include flex(flex-start, center, null, 5px);
  @include adaptiveValue('font-size', 16px, 14px);
  font-family: Forum, serif;
}

.pgn-button {
  width: 30px;
  height: 30px;
  padding: 8px;
  color: inherit;
  border: 1px solid $color-white;
  border-radius: 5px;
  @extend %transition;
  @include flex(center, center);

  @include smallmobile {
    width: 25px;
    height: 25px;
    padding: 6px;
  }

  &:not(.empty):disabled {
    opacity: 0.7;
    cursor: default;
  }

  span {
    display: block;
    width: 100%;
    height: 100%;
  }

  &.first span {
    background: center no-repeat url('../../assets/last.svg');
    background-size: contain;
  }

  &.last span {
    background: center no-repeat url('../../assets/last.svg');
    transform: rotate(180deg);
    background-size: contain;
  }

  &.previous span {
    background: center no-repeat url('../../assets/next.svg');
    transform: rotate(180deg);
    background-size: contain;
  }

  &.next span {
    background: center no-repeat url('../../assets/next.svg');
    background-size: contain;
  }

  &.active {
    background-color: $color-primary-bright;
    border: 1px solid $color-primary-bright;
    cursor: default;
    pointer-events: none;
  }

  @include hover {
    &:not(:disabled) {
      border: 1px solid $color-primary-bright;
      background-color: $color-primary-bright;
    }
  }
}
