.background {
  @include flex(center, center);
  height: 100vh;
  background-color: $color-bg-dark;

  .wrapper {
    width: clamp(280px, 50vw, 600px);
    padding: 5vw;
    font-size: 1.6rem;
    text-align: center;
    background-color: $color-green-dark;

    .form {
      @include flex(flex-start, center, column);
      position: relative;
      gap: 5px;
      color: $color-white;

      .label {
        position: relative;
        display: block;
        width: 100%;
        margin-top: 10px;
        text-align: left;
      }

      .input {
        width: 100%;
        margin-top: 5px;
        padding: 10px;
        color: $color-white;
        background-color: $color-semi-transparent-dark-gray;
        border: 2px solid $color-white;
        border-radius: 5px;
      }

      .invalid {
        border-color: $color-red;
      }

      .show-password-wrapper {
        @include flex(space-between, center);
      }

      .errors {
        align-self: flex-start;
        height: 2rem;
        color: $color-orange;

        &:nth-child(4) {
          height: 4rem;
        }
      }

      .eye {
        position: absolute;
        top: 33px;
        right: 10px;
      }

      .submit-button {
        @extend %transition;
        width: 100%;
        margin: 20px 0 53px;
        padding: 10px 5px;
        background-color: $color-white;
        border-radius: 5px;

        &:enabled:hover {
          color: $color-white;
          background-color: $color-semi-transparent-dark-gray;
        }

        &:disabled {
          cursor: default;
          color: $color-gray-dark;
          background-color: $color-gray-middle;
        }
      }
    }
  }
}
