.link-button {
  @include adaptiveValue('font-size', 18px, 14px);

  @include hover {
    background-color: $color-bg-dark-alpha;
    border-color: $color-bg-dark-alpha;
    box-shadow: rgb(0 0 0 / 60%);
  }

  @include focused {
    @include luxtext;
    background-color: $color-bg-dark-alpha;
    border-color: $color-bg-dark-alpha;
    box-shadow: rgb(0 0 0 / 60%);
  }
  overflow: hidden;
  min-width: 142px;
  margin-top: 20px;
  padding: 15px 22px;
  font-family: Questrial, Arial, Helvetica, serif;
  text-align: center;
  border: 1px solid $color-white;
  border-radius: 5px;
  transition:
    border-color 0.4s ease 0s,
    background-color 0.4s ease 0s,
    box-shadow 0.4s ease 0s,
    filter 0.8s ease 0s,
    text-shadow 0.8s ease 0s;
}
