.page-wrapper {
  @include mobile {
    margin: 0;
  }
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0 15px;
}

.cart {
  @include flex(flex-end, flex-start, row, 50px);
  flex-wrap: wrap;
  margin: 30px 0;
  font-family: questrial, sans-serif;
  font-size: 1.8rem;

  .my-cart {
    @include flex(flex-start, flex-start, column, 10px);
    flex: 1 1 390px;

    &-title {
      font-family: questrial, sans-serif;
      font-size: 2rem;
    }

    &-header {
      @include flex(space-between, center);
      width: 100%;
      border-bottom: 1px solid $color-gray-dark;
    }

    .clear-button {
      @extend %transition;
      @include adaptiveValue('font-size', 16px, 16px);

      @include hover {
        color: $color-bg-dark;
        background-color: $color-white;
      }
      padding: 3px 15px;
      color: $color-white;
      border: 1px solid $color-white;
      border-radius: 5px;
      margin-bottom: 5px;
    }

    .products-wrapper {
      @include flex(flex-start, flex-start, column, 10px);
      width: 100%;
    }

    .notes {
      @include flex(flex-start, flex-start, column, 10px);
      width: 100%;

      .note-input {
        width: 100%;
        font-size: 1.6rem;
        color: $color-white;
        background-color: $color-bg-dark;
        border: 1px solid $color-gray-dark;
        height: 100px;
        padding: 10px;
        border-radius: 5px;
        resize: none;
      }
    }
  }

  .order-summary {
    @include flex(flex-start, flex-start, column, 10px);
    flex: 0 1 350px;

    &-header {
      width: 100%;
      font-family: questrial, sans-serif;
      font-size: 2rem;
      border-bottom: 1px solid $color-gray-dark;
    }

    &-line-wrapper {
      @include flex(flex-start, flex-start, column, 5px);
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid $color-gray-dark;

      .order-line {
        @include flex(space-between, center, row, 5px);
        width: 100%;

        .name-wrapper {
          @include flex(flex-start, flex-start, row, 5px);

          .sku {
            font-size: 1.4rem;
            color: $color-gray-dark;
            @media (max-width: 400px) {
              font-size: 1rem;
            }
          }

          @media (max-width: 400px) {
            font-size: 1.4rem;
          }
        }

        .price-wrapper {
          @include flex(flex-start, end, row, 5px);
        }
      }
    }

    .total-price-wrapper {
      @include flex(space-between, center, row, 5px);
      width: 100%;
      font-size: 2.5rem;

      &.price span {
        color: $color-gray-middle;
        text-decoration: line-through;
      }

      &.discount span {
        color: $color-white;
      }

      .discounted-final-price {
        color: $color-primary-bright;
      }

      &:last-of-type {
        margin-bottom: 20px;
        padding-top: 10px;
        border-top: 1px solid $color-gray-dark;
      }
    }

    .checkout-button {
      @extend %transition;
      align-self: center;
      width: 100%;
      padding: 8px;
      font-size: 1.8rem;
      color: $color-white;
      background-color: $color-primary-bright;
      border-radius: 5px;

      &:hover {
        background-color: $color-primary-dull;
      }

      @media (max-width: 540px) {
        font-size: 1.8rem;
      }
    }
  }
}

.special-empty-container {
  height: 100%;
}
