.product-card {
  width: 100%;
  font-family: Questrial, sans-serif;
  @include flex(flex-start, flex-start, column);
  gap: 15px;
}

.product-card-img-container {
  width: 100%;
  overflow: hidden;
}

.product-card-img {
  width: 100%;
  height: auto;
  @extend %transition;

  @include hover {
    transform: scale(1.3);
  }
}

.product-card-title {
  @include adaptiveValue('font-size', 24px, 18px);
  @extend %transition;

  @include hover {
    opacity: 0.6;
  }
}

.product-card-prices {
  @include adaptiveValue('font-size', 20px, 14px);
  @include flex(flex-start, center);
  gap: 10px;

  span {
    @include adaptiveValue('font-size', 18px, 12px);
  }

  .crossed {
    text-decoration: line-through;
  }
}

.product-card-price-discount {
  @include adaptiveValue('font-size', 20px, 14px);
  color: $color-primary-bright;
}

.product-card-button {
  width: 100%;
  padding: 8px 16px;
  @include adaptiveValue('font-size', 16px, 16px);
  border: 1px solid $color-white;
  border-radius: 5px;
  @extend %transition;
  margin-top: auto;

  @include hover {
    background-color: $color-white;
    color: $color-bg-dark;
  }
}
