.search {
  position: relative;
  width: 100%;
  height: 40px;
}

.search-input {
  @extend %transition;
  @include adaptiveValue('font-size', 18px, 16px);
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-family: Questrial, sans-serif;
  color: $color-white;
  background-color: transparent;
  border: 1px solid $color-gray-dark;
  border-radius: 5px;

  &::placeholder {
    color: $color-white;
  }

  &:focus {
    border: 1px solid $color-primary-bright;

    &::placeholder {
      color: transparent;
    }
  }
}

.search-icon {
  content: '';
  position: absolute;
  top: 10px;
  right: 15px;
  width: 21px;
  height: 21px;
  background: no-repeat center url('../../assets/search.svg');
}
