@use 'sass:math';

html {
  scroll-behavior: smooth;
  font-size: 100%;
  font-size: 10px;
  line-height: 1;
  color: $color-white;
  text-size-adjust: 100%;
}

body {
  background-color: $color-bg-dark;
}

h1 {
  @include font(9rem, 400, normal);
  font-family: Forum, serif;
}

h2 {
  @include font(6rem, 400, normal);
  font-family: Forum, serif;
}

h3 {
  @include font(4rem, 400, normal);
  font-family: Forum, serif;
}

h4 {
  @include font(2.1rem, 400, normal);
  font-family: Questrial, serif;
}

.wrapper {
  @include flex(null, null, column);
  overflow-x: hidden;
  min-height: 100%;

  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

@if $responsiveType {
  // Отзывчивая верстка без брейк-поинтов
  .container,
  [class*='-custom-container'] {
    @if $container > 0 {
      box-sizing: content-box;
      max-width: $container;
      margin: 0 auto;
    }

    @if $containerPadding > 0 {
      width: calc(100% - #{$containerPadding}px);
      padding: 0 #{math.div($containerPadding, 2)}px;
    } @else {
      width: 100%;
    }
  }
} @else {
  // Верстка адаптива вручную по брейк-поинтам
  .container,
  [class*='-custom-container'] {
    margin: 0 auto;

    @if $container > 0 {
      max-width: $container;
    }
  }
}

// Блокировка прокрутки контента
.lock {
  touch-action: none !important;
  overflow: hidden !important;
}

svg {
  @extend %taphighlight;
  @extend %noselect;
}

.Toastify {
  .Toastify__toast-container {
    min-width: 420px;
    width: 30%;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }

  .Toastify__toast {
    font-size: 2rem;
    padding: 15px 10px;
  }
}
