$color-bg-dark: #050505;
$color-gray-dark: #4f4f4f;
$color-gray-middle: #b5b5b5;
$color-gray-light: #e8e6e6;
$color-white: #fff;
$color-primary-bright: #be5a09;
$color-color: #d9d4c9;
$color-green-dark: #686736;
$color-input-bg: #36351d;
$color-green-light: #b3b397;
$color-error: #ffa500;
$color-invalid-input: #f00;
