.catalog {
  padding: 0 15px;
}

.catalog-container {
  @include flex(flex-start, flex-start, null, 15px);
}

.catalog-content {
  @include flex(flex-start, flex-start, column, 20px);

  @include smalltablet {
    width: 100%;
  }
  width: 80%;
  min-width: calc(100% - 240px);
}

.catalog-img-container {
  @include smalltablet {
    display: none;
  }
  overflow: hidden;
  width: 100%;
}

.catalog-img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  object-position: 50% 50%;
}

.catalog-list {
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.button-filters {
  @include adaptiveValue('font-size', 16px, 16px);

  @include smalltablet {
    display: block;
  }

  @include smallmobile {
    width: 100%;
    max-width: calc(100% - 60px);
  }
  display: none;
  width: 240px;
  padding: 10px 15px;
  font-family: Questrial, sans-serif;
  text-transform: uppercase;
  color: inherit;
  border: 1px solid $color-gray-dark;
  border-radius: 5px;
}

@keyframes burger-close {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes burger-open {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 50%);
}
