.catalog {
  @include flex(flex-start, flex-start, column);
  gap: 30px;
  padding: 20px;

  header {
    align-self: center;
    width: 100%;
  }
}

.catalog-container {
  @include flex(flex-start, flex-start);
  gap: 15px;
}

.catalog-content {
  @include mobile {
    width: 100%;
  }
  @include flex(flex-start, flex-start, column);
  gap: 20px;
  width: 80%;
  min-width: calc(100% - 240px);
}

.catalog-img-container {
  @include mobile {
    display: none;
  }
  overflow: hidden;
  width: 100%;
}

.catalog-img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  object-position: 50% 50%;
}

.catalog-list {
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.filters {
  @include flex(flex-start, flex-start, column);

  @include mobile {
    display: none;
  }
  gap: 25px;
  width: 20%;
  max-width: 240px;
  font-family: Questrial, sans-serif;
}

.filters-heading {
  @include adaptiveValue('font-size', 32px, 24px);
  padding-bottom: 10px;
  border-bottom: 1px solid $color-gray-dark;
}

.filters-title {
  @include adaptiveValue('font-size', 24px, 20px);
  padding-bottom: 10px;
  border-bottom: 1px solid $color-gray-dark;
}

.filters-button {
  @extend %transition;
  @include adaptiveValue('font-size', 16px, 16px);

  @include hover {
    color: $color-bg-dark;
    background-color: $color-white;
  }
  width: 100%;
  padding: 8px 16px;
  border: 1px solid $color-white;
  border-radius: 5px;
}
