.logo {
  @include flex(center, center, column);
  @include adaptiveValue('font-size', 24px, 18px);
  font-family: Corben, Arial, Helvetica, serif;

  @include overbigdesktop {
    position: relative;
    left: 50%;
    transform: translateX(-112.5%);
  }

  @include smalltablet {
    display: none;
  }

  &-image {
    position: relative;
    overflow: hidden;
    width: fit-content;
    height: 100%;
    color: $color-white;

    &::before {
      content: 'S';
      position: absolute;
      bottom: 16.5%;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      font-family: Corben, Arial, Helvetica, serif;
      font-size: var(--logo-font-size, 24px);
    }

    svg {
      display: block;
      color: inherit;
    }
  }

  &-text {
    text-align: center;
  }
}
