.newarrivals {
  &-item {
    @include flex(null, null, column);
    color: $color-bg-dark;
    row-gap: 16px;
  }

  &-card-image {
    @include responsiveImage;
    padding-bottom: 132.5%;
    padding-left: 99%;
    max-width: 338px;
    min-width: 286px;
    margin: 0 auto;

    &::after {
      content: 'New Arrival';
      position: absolute;
      top: rem(17px);
      left: rem(17px);
      color: $color-white;
      background-color: $color-green-dark;
      font-family: Questrial, Arial, Helvetica, serif;
      @include adaptiveValue('font-size', 14px, 12px);
      border-radius: 5px;
      padding: 5px 12px;
    }
  }

  &-card-info {
    @include flex(null, null, column);
    row-gap: 4px;
    padding: 0 20px;
  }

  &-card-title {
    font-family: Forum, Arial, Helvetica, serif;
    @include adaptiveValue('font-size', 28px, 20px);
    line-height: 1.25;
  }

  &-card-coast {
    font-family: Questrial, Arial, Helvetica, serif;
    @include adaptiveValue('font-size', 21px, 16px);
    line-height: 1.5;
  }

  &-card-button {
    @include flex(center);
    font-family: Questrial, Arial, Helvetica, serif;
    @include adaptiveValue('font-size', 16px, 14px);
    line-height: 1.5;
    background-color: $color-bg-light;
    border: 1px solid $color-bg-dark;
    border-radius: 5px;
    padding: 9px 17px;
    margin-left: 20px;
    margin-right: 20px;
    transition:
      background-color 0.4s ease 0s,
      color 0.4s ease 0s;

    &[type='button'] {
      @include animatebtn;
    }

    @include hover {
      background-color: $color-bg-dark;
      color: $color-gray-light;
    }
  }
}
