.about {
  @include membrane(3.85);
  position: relative;
  width: 100%;
  background: fixed $color-gray-light url('../../assets/aboutbg.jpg') bottom center / cover no-repeat;
  background-blend-mode: multiply;

  &-body {
    @include flex(center, center, column);
    position: relative;
    z-index: 1;
    row-gap: 20px;
    width: 100%;
    padding: 5.5%;
  }

  &-title,
  &-text {
    text-align: center;
  }

  &-title {
    @include adaptiveValue('font-size', 80px, 25px);
    font-family: Forum, Arial, Helvetica, serif;
  }

  &-text {
    @include adaptiveValue('font-size', 18px, 14px);

    @include bigdesktop {
      max-width: 57%;
    }

    @include tablet {
      max-width: 62%;
    }

    @include smalltablet {
      max-width: 72%;
      text-align: justify;
    }

    @include mobile {
      max-width: 82%;
    }

    @include smallmobile {
      max-width: 97%;
    }
    max-width: 45%;
    font-family: Questrial, Arial, Helvetica, serif;
    line-height: 1.6;
  }
}
