.form {
  @include flex(flex-start, center, row);
  flex-wrap: wrap;
  gap: 30px;
  font-size: 1.5rem;

  input[type='date'] {
    padding: 10px 28px;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    background-color: $color-gray-middle;
    border-radius: 5px;
  }

  @media screen and (max-width: 890px) {
    column-gap: 150px;
  }

  input {
    background-color: rgba(5 5 5 / 20%);
    border: 1px solid $color-white;
  }
}

.input-container {
  position: relative;
  @media screen and (max-width: 593.5px) {
    flex-grow: 1;
    margin: 0;
  }
}

.eye {
  position: absolute;
  top: 40px;
  right: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: 1rem;

  .submit-button {
    @extend %transition;
    width: 240px;
    padding: 10px 5px;
    color: $default-text-color;
    background-color: $color-white;
    border-radius: 5px;

    &:enabled:hover {
      color: $color-white;
      background-color: $color-input-bg;
    }

    &.hidden {
      display: none;
    }

    &:disabled {
      cursor: default;
      color: $color-gray-dark;
      background-color: $color-gray-middle;
    }
  }
}
