.form {
  @include flex(flex-start, center, row, 30px);
  flex-wrap: wrap;
  font-size: 1.5rem;

  input[type='date'] {
    padding: 10px 28px;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    background-color: $color-gray-middle;
    border-radius: 5px;
  }

  input {
    background-color: rgba(5 5 5 / 20%);
    border: 1px solid $color-white;
  }

  input:disabled {
    color: $color-gray-middle;
    border-color: $color-input-bg;
  }

  @media screen and (max-width: 890px) {
    column-gap: 150px;
  }
}

.heading {
  @include adaptiveValue('font-size', 48px, 24px);
  padding: 20px;
  border-bottom: 1px solid $color-gray-dark;
}

.input-container {
  position: relative;
  width: 200px;

  .error {
    height: 1.5rem;
    padding-top: 5px;
    font-size: 1.2rem;
    color: $color-error;
  }
  @media screen and (max-width: 650.5px) {
    flex-basis: 100%;
    margin: 0;
  }
}

.eye {
  position: absolute;
  top: 40px;
  right: 10px;
}

.buttons {
  @include flex(_, _, _, 20px);
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;

  .submit-button {
    @extend %transition;
    width: 240px;
    padding: 10px 5px;
    color: $default-text-color;
    background-color: $color-white;
    border-radius: 5px;

    &:enabled:hover {
      color: $color-white;
      background-color: $color-input-bg;
    }

    &.hidden {
      display: none;
    }

    &:disabled {
      cursor: default;
      color: $color-gray-dark;
      background-color: $color-gray-middle;
    }
  }
}
