.menu {
  @include smalltablet {
    position: relative;
    z-index: 100;
    padding-top: 5.5%;
    background-color: $color-bg-dark-alpha-adaptive;
  }
  overflow: hidden;
  padding: 5px;
  color: $color-white;
  background-color: $color-bg-dark-alpha;
  border: 1px solid $color-gray-dark;
  border-radius: 5px;

  &__list {
    @include smalltablet {
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      padding-left: 10px;
    }
    display: flex;
    column-gap: 14px;
  }

  &__item {
    @include adaptiveValue('font-size', 16px, 14px);

    @include hover {
      opacity: 0.7;
    }

    @include smalltablet {
      @include adaptiveValue('font-size', 32px, 24px);
    }
    padding: 8px 10px;
    font-family: Questrial, Arial, Helvetica, sans-serif;
    transition: opacity 0.4s ease 0s;
  }
}
