.modal {
  @include flex(center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-discovery-gradient-middle;
  padding: 10px;
  transition: all 0.2s ease 0s;
  z-index: 25;
  cursor: pointer;

  &-body {
    @include adaptiveValue('font-size', 24px, 18px);

    @include tablet {
      max-width: 65%;
    }

    @include smalltablet {
      max-width: 75%;
    }

    @include mobile {
      max-width: 85%;
    }
    color: $color-white;
    background-color: $color-bg-dark-alpha;
    border: 1px solid $color-gray-dark;
    backdrop-filter: blur(7px);
    border-radius: 5px;
    font-family: Questrial, Arial, Helvetica, sans-serif;
    line-height: 1.4;
    letter-spacing: 0.25ex;
    text-align: center;
    max-width: 50%;
    padding: 15px;
    cursor: auto;
    overflow: hidden;
  }
}
