.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex(center);
  background-color: $color-discovery-gradient-middle;
  padding: 10px;

  &-body {
    color: $color-white;
    background-color: $color-bg-dark-alpha;
    border: 1px solid $color-gray-dark;
    backdrop-filter: blur(7px);
    border-radius: 5px;
    font-family: Questrial, Arial, Helvetica, sans-serif;
    @include adaptiveValue('font-size', 24px, 18px);
    line-height: 1.4;
    letter-spacing: 0.25ex;
    text-align: center;
    max-width: 50%;
    padding: 15px;
    overflow: hidden;
  }
}
