.discover {
  @include flex(null, null, column);
  font-family: Forum, Arial, Helvetica, serif;
}

.banner {
  @include flex(center, center, column);
  row-gap: calc(3% - 10px);
  padding: 4.5%;

  &-title {
    @include adaptiveValue('font-size', 34px, 20px);
    text-align: center;
  }

  &-text {
    @include adaptiveValue('font-size', 200px, 85px);
    padding: 10px;
    text-align: center;
    transition: transform 0.8s ease 0s;

    &::before {
      will-change: background;
      transform: translateZ(0);
      transition: background 0.8s ease 1s;
    }

    &:hover {
      position: relative;
      transform: scale(0.985);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          $color-discovery-gradient-top 0,
          $color-discovery-gradient-middle 45%,
          $color-discovery-gradient-bottom 100%
        );
      }
    }
  }
}

.links {
  @include tablet {
    grid-template: 28rem 24rem / calc(66% - 2.5px) calc(34% - 2.5px);
  }

  @include smalltablet {
    grid-template: 22rem 18rem / calc(62% - 2.5px) calc(38% - 2.5px);
  }

  @include mobile {
    grid-template: repeat(3, 100px) / 1fr;
  }
  display: grid;
  grid-template: 32rem 28rem / calc(74% - 2.5px) calc(26% - 2.5px);
  gap: 5px;

  &-plants,
  &-pots,
  &-collections {
    @include responsiveImage;
    @include membrane(5);

    @include hover {
      &::before {
        opacity: 0;
      }

      img {
        transform: scale(1.1);
      }
    }

    &::before {
      @include flex(center);
      @include adaptiveValue('font-size', 34px, 20px);
      pointer-events: none;
      will-change: opacity;
      content: attr(title);
      transform: translateZ(0);
      font-family: Forum, Arial, Helvetica, serif;
      text-align: center;
      transition: opacity 0.8s ease 0s;
    }

    img {
      transition: transform 0.8s linear 0s;
    }
  }

  &-plants {
    @include mobile {
      grid-row: span 1;
    }
    grid-row: span 2;
  }
}
