.addresses {
  @include flex(flex-start, flex-start, column);

  @include tablet {
    padding: 20px;
  }
  gap: 15px;
  padding: 20px 40px;
  backdrop-filter: blur(10px);

  .form {
    @include flex(flex-start, center, row);
    flex-wrap: wrap;
    gap: 30px;
    font-size: 1.5rem;

    input[type='date'] {
      padding: 10px 28px;
    }

    input[type='date']::-webkit-calendar-picker-indicator {
      background-color: $color-gray-middle;
      border-radius: 5px;
    }

    @media screen and (max-width: 890px) {
      column-gap: 150px;
    }
  }

  input {
    background-color: rgba(5 5 5 / 20%);
    border: 1px solid $color-white;
  }

  .input-container {
    @media screen and (max-width: 593.5px) {
      flex-grow: 1;
      margin: 0;
    }
  }
}

.account-heading {
  @include adaptiveValue('font-size', 48px, 24px);
  padding: 20px;
  border-bottom: 1px solid $color-gray-dark;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

  // flex: 1 1 100%;
  // justify-content: center;
  margin-top: 1rem;

  .submit-button {
    @extend %transition;

    // align-self: center;
    width: 240px;

    // margin: 20px auto;
    padding: 10px 5px;
    color: $default-text-color;
    background-color: $color-white;
    border-radius: 5px;

    &:enabled:hover {
      color: $color-white;
      background-color: $color-input-bg;
    }

    &.hidden {
      display: none;
    }

    &:disabled {
      cursor: default;
      color: $color-gray-dark;
      background-color: $color-gray-middle;
    }
  }
}

.delete-button {
  background-color: $color-bg-light;
  border-radius: 5px;
}

.button-delete-img {
  display: block;
  width: 30px;
  height: 30px;
  background: center no-repeat url('../../assets/delete.svg');
  background-size: contain;
}
