.header {
  @include smalltablet {
    padding-top: 10px;
  }
  min-height: auto;
  padding-top: 2%;

  &-body {
    position: relative;
    @include flex(space-between, center);
    margin-top: 10px;

    @media all and (min-width: 1025px) {
      min-height: 100px;

      > a {
        position: absolute;
        left: 50%;
        transform: translateX(-25%);
      }
    }

    @include tablet {
      > a {
        display: none;
      }
    }
  }
}
