.header {
  @include smalltablet {
    padding-top: 10px;
  }
  min-height: auto;
  padding-top: 2%;

  &-body {
    position: relative;
    @include flex(space-between, center);
    padding: 0 8px;
  }
}
