.category-filters {
  @include flex(flex-start, flex-start, column);
  @include adaptiveValue('font-size', 18px, 16px);
  gap: 15px;
  line-height: 1.2;
}

.category-filter {
  @extend %transition;
  cursor: pointer;
  position: relative;

  &::after {
    @extend %transition;
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    width: 100%;
    height: 2px;
    background-color: $color-white;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }

  &.active {
    &::after {
      transform: scaleX(1);
    }
  }
}
