.about {
  &-description {
    background-color: $color-bg-light;

    &-body {
      @include flex;
      flex-direction: row-reverse;
      column-gap: 1px;
      background-color: $color-bg-dark;

      @include smalltablet {
        flex-direction: column;
      }
    }

    &-info {
      @include flex(center, center);
      flex: 0 1 50%;
      background-color: $color-bg-light;
      color: $color-bg-dark;

      @media all and (min-width: 912px) {
        padding: 4.75%;
      }

      @media all and (max-width: 911.5px) {
        padding: 25px;
      }

      @include smalltablet {
        padding: 15px 0;
      }
    }

    &-text {
      font-family: Questrial, Arial, Helvetica, serif;
      @include adaptiveValue('font-size', 18px, 14px);
      line-height: 1.6;
      text-wrap: balance;
      text-indent: 2.5rem;
      max-width: 80%;

      &::first-letter {
        font-family: Corben, Arial, Helvetica, serif;
        @include adaptiveValue('font-size', 38px, 34px);
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.1ex;
      }

      @include smalltablet {
        max-width: 95%;
        text-align: justify;
      }
    }

    &-logo {
      @include flex(center, center);
      flex: 0 1 50%;
      background-color: $color-green-dark;
      text-align: center;
      padding: 10px;
    }

    &-link {
      transition: filter 0.8s ease 0s;
      overflow: hidden;

      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }

      @include hover {
        @include luximage($color-error);
      }

      @include focused {
        @include luximage($color-error);
      }
    }
  }
}
