%footerflex {
  @include flex(space-between, null, null, 10px);
  padding: 10px;
}

%list-section {
  @include flex(null, null, column);
  row-gap: 25px;
}

%font {
  @include adaptiveValue('font-size', 16px, 10px);
  font-family: Questrial, Arial, Helvetica, serif;
}

.footer {
  padding: 5px;

  &-body {
    @include flex(null, null, column);

    @include smalltablet {
      row-gap: 15px;
    }

    @include mobile {
      padding: 0;
    }
  }

  &-logo {
    @include smalltablet {
      display: none;
    }
    margin-top: 15px;
    padding: 25px 10px;
    width: fit-content;
    align-self: center;
  }

  &-info {
    @extend %footerflex;

    @include smalltablet {
      flex-wrap: wrap;
      gap: 25px;
    }
  }

  &-separator {
    display: block;
    height: 1px;
    background-color: $color-gray-dark;

    &:first-of-type {
      @include smalltablet {
        display: none;
      }
    }
  }

  &-copyright {
    @extend %font;

    @include smalltablet {
      margin-bottom: 5px;
    }
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
  }

  &-contacts,
  &-shop,
  &-opening-hours {
    @extend %list-section;

    @include smalltablet {
      row-gap: 15px;
    }
  }

  &-contacts,
  &-opening-hours {
    @include mobile {
      order: 2;
    }
  }

  &-opening-hours {
    text-align: end;
  }

  &-shop {
    @include mobile {
      width: 100%;
      order: 1;
      align-items: center;
    }
  }

  &-list {
    @extend %list-section;
    row-gap: 10px;
  }

  &-title {
    @include adaptiveValue('font-size', 21px, 16px);
  }

  &-list-item {
    @extend %font;

    a {
      @extend %font;
    }
  }

  &-link {
    @extend %transition;

    @include hover {
      opacity: 0.7;
    }
  }
}
