.wrapper {
  @include flex(flex-start, flex-start, column, 15px);
  padding: 20px;
  font-family: Forum, serif;
  color: $default-text-color;
  background-color: $color-bg-light;

  .path {
    @include font(2rem, normal, 1.6);
  }

  .product-overview {
    @include flex(flex-start, flex-start, row, 15px);
    flex-wrap: wrap;
    width: 100%;

    .slider-wrapper {
      @include flex(center);
      position: relative;
      flex: 0 1 40dvw;
      background-color: $color-bg-slider;

      .slider-img {
        width: 40dvw;
        height: 50dvw;

        & img {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .product-summary {
      @include flex(flex-start, flex-start, column, 15px);
      @include font(2.5rem, normal, 1.2);
      flex: 1 1 400px;
      width: 100%;

      &-header {
        font-size: 4rem;
      }

      .sku {
        font-size: 2rem;
        color: $color-gray-dark;
      }

      .price-label {
        @include flex(flex-start, end, row, 5px);

        .full-price {
          &-line-through {
            font-size: 2rem;
            color: $color-gray-dark;
            text-decoration: line-through;
          }
        }

        .price-with-discount {
          font-weight: bold;
          color: $color-primary-bright;
        }
      }

      .buttons-wrapper {
        @include flex(flex-start, center, row, 10px);
        width: 100%;
        margin-top: 25px;

        .add-to-cart-button {
          @extend %transition;
          height: 40px;
          padding: 0 50px;
          background-color: $color-primary-dull;
          border-radius: 5px;

          &:hover {
            color: $color-white;
            background-color: $color-primary-bright;
          }
        }

        .add-to-favorite-button {
          @extend %transition;
          position: relative;
          width: 40px;
          height: 40px;
          padding: 0;
          background-color: $color-bg-dark;
          border-radius: 5px;

          &:hover {
            background-color: $color-primary-bright;
          }
        }
      }

      .title {
        color: $color-gray-dark;
      }

      .description-text {
        font-size: 1.8rem;
        text-align: justify;
      }
    }
  }

  .product-description {
    @include font(2rem, normal, 1.3);
    text-align: justify;

    .description-header {
      @include font(2.5rem, bold, 1.6);
    }
  }
}

.loader {
  @include flex(center);
  height: 100dvh;
  font-size: 3rem;
}

.heart-animation {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  animation:
    fly-up 0.5s ease-out forwards,
    fadeOut 0.4s forwards;
}

@keyframes fly-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100px);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
