.page-wrapper {
  @include flex(null, null, column, 30px);
  padding: 20px;
  background-color: $color-bg-dark;

  header {
    align-self: center;
    width: 100%;
  }

  .wrapper {
    @include flex(flex-start, flex-start, column, 15px);
    max-width: 1476px;
    padding: 35px;
    font-family: Forum, serif;
    color: $default-text-color;
    background-color: $color-bg-light;

    .path {
      @include flex(flex-start, flex-start, row, 3px);
      @include font(2rem, normal, 1.6);
    }

    .product-overview {
      @include flex(flex-start, flex-start, row, 35px);
      flex-wrap: wrap;
      width: 100%;

      .product-summary {
        @include flex(flex-start, flex-start, column, 20px);
        @include font(2.5rem, normal, 1.2);
        flex: 1 1 400px;
        width: 100%;

        &-header {
          font-size: 4rem;
        }

        .sku {
          font-size: 2rem;
          color: $color-gray-dark;
        }

        .price-label {
          @include flex(flex-start, end, row, 5px);

          .full-price {
            &-line-through {
              font-size: 2rem;
              color: $color-gray-dark;
              text-decoration: line-through;
            }
          }

          .price-with-discount {
            font-weight: bold;
            color: $color-primary-bright;
          }
        }

        .buttons-wrapper {
          @include flex(flex-start, center, row, 10px);
          flex-wrap: wrap;
          width: 100%;
          margin-top: 25px;

          .add-to-cart-button {
            @extend %transition;
            width: 210px;
            height: 40px;
            color: $color-white;
            background-color: $color-primary-bright;
            border-radius: 5px;

            &:hover {
              background-color: $color-primary-dull;
            }

            @media (max-width: 540px) {
              font-size: 1.8rem;
            }
          }

          .add-to-favorite-button {
            @extend %transition;
            position: relative;
            width: 40px;
            height: 40px;
            padding: 0;
            background-color: $color-bg-dark;
            border-radius: 5px;

            &:hover {
              background-color: $color-primary-bright;
            }
          }
        }
      }
    }

    .product-description {
      @include font(2rem, normal, 1.2);
      font-family: questrial, sans-serif;
      text-align: justify;
      text-indent: 20px;
    }
  }
}

@keyframes fly-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.heart-animation {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  animation: fly-up 0.5s ease-out forwards;
}
