.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  border-radius: 10px;
  padding: 20px;
  background-color: $color-bg-light;
  outline: none;

  .modal-text {
    font-size: 3rem;
    color: $color-bg-dark;
  }

  .button-wrapper {
    @include flex(flex-end, end, row, 5px);
    padding-top: 30px;
  }

  &-confirm-button,
  &-cancel-button {
    @extend %transition;
    padding: 8px 30px;
    font-size: 1.8rem;
    color: $color-white;
    background-color: $color-primary-bright;
    border-radius: 5px;

    &:hover {
      background-color: $color-primary-dull;
    }
  }

  &-cancel-button {
    background-color: $color-gray-dark;

    &:hover {
      background-color: $color-gray-middle;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 75%);
  z-index: 1000;
}
