.filters {
  @include flex(flex-start, flex-start, column);

  @include smalltablet {
    position: fixed;
    z-index: 100;
    top: 260px;
    left: 30px;
    overflow: auto;
    width: 240px;
    height: 60vh;
    padding: 0 20px 20px;
    visibility: hidden;
    opacity: 0;
    background: rgba(5 5 5/ 80%);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(255 255 255 / 50%);
    transition: 0.8s ease-in-out;
    animation: burger-close 0.8s ease-in-out;

    &.open {
      visibility: visible;
      opacity: 1;
      transition: 0.8s ease-in-out;
      animation: burger-open 0.8s ease-in-out;
    }
  }
  gap: 10px;
  width: 30%;
  max-width: 240px;
  font-family: Questrial, sans-serif;
}

.filters::-webkit-scrollbar {
  width: 10px;
  border: 1px solid $color-gray-dark;
  border-radius: 50px;
}

.filters::-webkit-scrollbar-track {
  background-color: transparent;
}

.filters::-webkit-scrollbar-thumb {
  cursor: pointer;
  height: 20px;
  background-color: $color-bg-light;
  border-radius: 20px;
}

.filters-heading {
  @include adaptiveValue('font-size', 34px, 26px);
  padding: 20px 0;
}

.filters-button {
  @extend %transition;
  @include adaptiveValue('font-size', 16px, 16px);

  @include hover {
    color: $color-bg-dark;
    background-color: $color-white;
  }
  width: 100%;
  padding: 8px 16px;
  color: $color-white;
  border: 1px solid $color-white;
  border-radius: 5px;
}
