.breadcrumbs {
  @include flex(flex-start, center, null, 5px);
  @include adaptiveValue('font-size', 20px, 16px);
  flex-wrap: wrap;
  margin: 30px 0;
  font-family: Questrial, sans-serif;

  button {
    @extend %transition;
    color: inherit;

    @include hover {
      color: $color-gray-dark;
    }
  }
}

.breadcrumbs-link {
  text-transform: capitalize;
  color: inherit;

  &:last-of-type {
    pointer-events: none;
    opacity: 0.7;
  }
}
