.user-menu {
  @include flex(null, center);

  @include smalltablet {
    margin-right: 0;
  }
  column-gap: 12px;
  margin-right: 2%;

  svg {
    display: block;
    color: inherit;
  }

  &-logout {
    @include flex(center);

    @include hover {
      .usermenu-text {
        opacity: 0.7;
      }
    }
    column-gap: 5px;
    min-width: fit-content;
    padding: 7px 15px;
    color: $color-white;
    background-color: $color-bg-dark-alpha;
    border: 1px solid $color-gray-dark;
    border-radius: 5px;

    &[type='button'] {
      @include animatebtn;
    }
  }

  &-icon {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &-text {
    @include adaptiveValue('font-size', 16px, 15px);
    width: 100%;
    min-width: max-content;
    font-family: Questrial, Arial, Helvetica, sans-serif;
    white-space: nowrap;
    transition: opacity 0.4s ease 0s;
  }

  &-text,
  &-promo,
  &-profile,
  &-cart {
    @include hover {
      opacity: 0.7 !important;
    }
    cursor: pointer;
  }

  &-cart {
    position: relative;
    font-size: 12px;
    font-family: Questrial, Arial, Helvetica, sans-serif;
    @include flex(null, center, null, 10px);

    span {
      position: absolute;
      padding: 3px 5px;
      display: block;
      text-align: center;
      background-color: $color-primary-bright;
      border-radius: 30px;
      right: -12px;
      top: -7px;
    }
  }
}

[data-tooltip] {
  @include hover {
    &::after {
      visibility: visible;
      opacity: 1;
    }
  }
  position: relative;

  &::after {
    @include adaptiveValue('font-size', 16px, 15px);
    pointer-events: none;
    cursor: default;
    content: attr(data-tooltip);
    position: absolute;
    z-index: 1;
    top: calc(100% + 3px);
    right: 100%;
    overflow: hidden;
    min-width: max-content;
    padding: 5px 10px;
    font-family: Questrial, Arial, Helvetica, sans-serif;
    color: $color-white;
    visibility: hidden;
    opacity: 0;
    background-color: $color-bg-dark-alpha;
    border: 1px solid $color-gray-dark;
    border-radius: 5px 0 5px 5px;
    box-shadow: inset 0 0 15px 3px $color-bg-dark-alpha;
    transition:
      opacity 0.4s ease-in-out,
      visibility 0.4s ease-in-out;
  }
}

.hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
