.user-menu {
  @include flex(null, center);

  @include smalltablet {
    margin-right: 0;
  }
  column-gap: 12px;
  margin-right: 2%;

  svg {
    display: block;
    color: inherit;
    transition: filter 0.8s ease 0s;
  }

  &-logout {
    @include flex(center);
    column-gap: 5px;
    min-width: fit-content;
    padding: 7px 15px;
    color: $color-white;
    background-color: $color-bg-dark-alpha;
    border: 1px solid $color-gray-dark;
    border-radius: 5px;

    &[type='button'] {
      @include animatebtn;
    }

    @include hover {
      svg {
        @include luximage;
      }
    }

    @include focused {
      span {
        @include luxtext;
      }
    }
  }

  &-icon {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
  }

  &-text {
    @include adaptiveValue('font-size', 16px, 15px);
    width: 100%;
    min-width: max-content;
    font-family: Questrial, Arial, Helvetica, sans-serif;
    white-space: nowrap;
    transition: text-shadow 0.8s ease 0s;

    .user-menu-logout:hover & {
      @include luxtext;
    }
  }

  &-logout,
  &-promo,
  &-profile,
  &-cart {
    color: $color-white;
    cursor: pointer;

    @include hover {
      svg {
        @include luximage;
      }
    }

    @include focused {
      svg {
        @include luximage;
      }
    }
  }
}

[data-tooltip] {
  position: relative;

  &::after {
    content: attr(data-tooltip);
    position: absolute;
    right: 100%;
    top: calc(100% + 3px);
    min-width: max-content;
    font-family: Questrial, Arial, Helvetica, sans-serif;
    @include adaptiveValue('font-size', 16px, 15px);
    color: $color-white;
    background-color: $color-bg-dark-alpha;
    box-shadow: inset 0 0 15px 3px $color-bg-dark-alpha;
    border: 1px solid $color-gray-dark;
    border-radius: 5px 0 5px 5px;
    opacity: 0;
    padding: 5px 10px;
    visibility: hidden;
    transition:
      opacity 0.4s ease-in-out,
      visibility 0.4s ease-in-out;
    overflow: hidden;
    z-index: 1;
    cursor: default;
    pointer-events: none;
  }

  @include hover {
    &::after {
      opacity: 0.76;
      visibility: visible;
    }
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
