.banner {
  padding: 35px 10px;

  &-body {
    @include flex(center, center, column, 24px);
  }

  &-title {
    @include adaptiveValue('font-size', 90px, 35px);

    @include smalltablet {
      max-width: 100%;
    }
    max-width: 60%;
    font-family: Forum, Arial, Helvetica, serif;
    text-align: center;
    text-wrap: balance;
  }

  &-text {
    @include adaptiveValue('font-size', 21px, 16px);
    font-family: Questrial, Arial, Helvetica, serif;
    text-align: center;
    text-wrap: balance;
  }
}
