.full-price {
  &-line-through {
    font-size: 2rem;
    color: $color-gray-dark;
    text-decoration: line-through;
  }
}

.price-with-discount {
  font-weight: bold;
  color: $color-primary-bright;
}
